[submodule "standards/basic_coding_standard_-_psr-1"]
	path = standards/coding/basic_coding_standard_-_psr-1
	url = https://github.com/katheroine/php.psr-1.lab
[submodule "standard/coding/extended_coding_style_-_psr-12"]
	path = standards/coding/extended_coding_style_-_psr-12
	url = https://github.com/katheroine/php.psr-12.lab
[submodule "standard/coding/coding_style_-_PER_3.0"]
	path = standards/coding/coding_style_-_per_3.0
	url = https://github.com/katheroine/php.per.3.0.lab
[submodule "standards/autoloading/php.psr-4.lab"]
	path = standards/autoloading/autoloading_standard_-_psr-4
	url = https://github.com/katheroine/php.psr-4.lab
