:root
{
    --ultralight-blue: #f0f8fa;
    --light-blue: #c9e3f1;
    --medium-blue: #142d3d;
    --dark-blue: #0f2430;
    --grey-blue: #dce8f0;
    --white: #eee;
}

body
{
    background-color: var(--light-blue);
}

header
{
    background-color: var(--white);
}

#intro
{
    background-color: var(--medium-blue);
    color: var(--white);
}

#input
{
    background-color: var(--white);
}

#info,
#output
{
    background-color: var(--ultralight-blue);
}

#devinfo
{
    background-color: var(--light-blue);
    color: var(--dark-blue);
    font-size: small;
}

#devinfo .param_source
{
    background-color: var(--white);
    color: var(--medium-blue);
    font-weight: 600;
}
