:root
{
    --ultralight-blue: #dfecf3;
    --light-blue: #c2dceb;
    --medium-blue: #142d3d;
    --dark-blue: #0f2430;
    --grey: #bed0db;
    --white: #e6ebee;
}

body
{
    background-color: var(--grey);
}

header
{
    background-color: var(--white);
}

#intro
{
    background-color: var(--medium-blue);
    color: var(--white);
}

#input
{
    background-color: var(--light-blue);
}

#info,
#output
{
    background-color: var(--ultralight-blue);
}

#devinfo
{
    background-color: var(--grey);
    color: var(--dark-blue);
    font-size: small;
}

#devinfo .param_source
{
    background-color: var(--white);
    color: var(--medium-blue);
    font-weight: 600;
}
